nav{
	background-color: $transparente;
	box-shadow: $nada;
	.nav-wrapper li a{
		font-size: 13px;
	}
}

body{
	background-color: $body_color;
}

.slider{
	position: $pos_abs;
	top: $zero;
	left: $zero;
	z-index: -1;
	ul li{
		h1{
			padding-top: 80px;
		}
		a{
			margin-top: 40px;
		}
	}
}

.cuerpo-abs{
	position: $pos_abs;
	top: 530px;
	padding-top: 50px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	margin-left: $treinta;
	margin-right: $treinta;
	background-color: $color_fondo;
	h5{
		@include letraSubtitulo();
	}

	.city{
		@include seccionCiudad();
		h3{
			color: $color_fondo;
		}
		p{
			color: $color_fondo;
		}
		iframe{
			border: 2px solid $color_fondo;
		}
	}

	.productos{
		background-color: $body_color;
		padding: 70px 0 50px;
		.columna-padding{
			@include cuerpoPadding();
		}
		.tarjeta{
			background-color: $color_fondo;
			border-radius: 6px;
			position: relative;
			.tarjeta-foto{
				@include contenedorcito();
				img{
					@include contenedorcito();
					border-radius: 6px;
					position: $pos_abs;
					top: -20px;
					left: 7%;
				}
			}
		}
		.contenido-productos{
			padding: 120% 20% 20%;
		}
	}

	.portafolio{
		padding: 70px 30px 50px;
		@for $i from 1 through 8{
			.cada-portafolio-#{$i}{
				position: relative;
				height: 280px;
				border-radius: 6px;
				background-image: url(../img/img_portafolio_#{$i}.jpg);
				background-size:cover;
				background-position: center;
				margin: 20px 0;
			}
		}
		.cada-portafolio-hover{
			position: $pos_abs;
			top: $zero;
			bottom: $zero;
			left: $zero;
			right: $zero;
			border-radius: 6px;
			background-color: rgba(0,0,0,0.6);
			opacity: $zero;
		}
		.cada-portafolio-hover:hover{
			opacity:1;
		}
	}

	.team{
		padding: 0 50px 50px;
		.team-member{
			padding: 20px;
		}
		.team-1{
			img{
				@include fotosCuadradas();
			}
		}
	}

	.price{
		background-color: $body_color;
		padding: 50px;
		.tabla-precio{
			background-color: $color_fondo;
			border-radius: 5px;
		}
		.precio-contenido{
			padding: 20px;
			h3{
				font-size: 55px;
				font-weight: bold;
				height: 55px;
				margin-bottom: 0;
				small.dolar{
					position: relative;
					top: -23px;
				}
				small{
				font-size: 16px;
				font-weight: normal;
				}
			}
			td{
				color: $tabla_gris;
			}
			.linea{
				border-bottom: 1px solid $tabla_gris;
			}
		}
	}
	.clients{
		padding: 50px;
		img{
			width: 100px;
			height: 100px;
		}
	}
	.subscribe{
		background-image: url(../img/about.jpg);
		background-size:cover;
		padding: 70px;
		.caja-input{
			background-color: $color_fondo;
			border-radius: 5px;
			padding: 10px;
			.btn-subscribe{
				width: 100%;
				margin-top: 15px;
			}
		}
		.break-word{
			word-wrap: break-word;
		}
	}

	.blog{
		padding: 50px;
		img{
			@include fotosCuadradas();
		}
	}
	
	.contacto{
		@include seccionCiudad();
	}
}