*{
	margin: 0;
}

nav{
	background-color: $transparente;
	box-shadow: $nada;
	.row-nav{
		padding: 0 30px;
		.side-nav{
			background-color: $color_fondo;
		}
	}
	.brand-logo{
		font-size: 18px;
	}
	.nav-wrapper li a{
		font-size: 12px;
	}
	i.material-icons.right{
		margin-left: 2px;
	}
	i.material-icons.left{
		margin-right: 3px;
		font-size: 12px;
	}
}

.dropdown-content{
	li a i{
		margin-right: 3px;
	}
}

body{
	background-color: $body_color;
}

.slider{
	position: $pos_abs;
	top: $zero;
	left: $zero;
	z-index: -1;
	ul li{
		h1{
			padding-top: 80px;
		}
		a{
			margin-top: 40px;
		}
	}
}

.cuerpo-abs{
	position: $pos_abs;
	top: 530px;
	padding-top: 50px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	margin-left: $treinta;
	margin-right: $treinta;
	background-color: $color_fondo;

	.intro{
		padding: 0 50px 50px;
		h5{
			@include letraSubtitulo();
			margin: 30px 0;
		}
		h4{
			@include letraSubSubTitulo();
		}
		.bullet{
			padding-top: 70px;
			i{
				margin-bottom: 30px;
			}
			.letraP{
				@include letraPGrande();
			}
		}
	}
	.city{
		@include seccionCiudad();
		h3{
			@include letraTiruloBlanco();
		}
		p{
			color: $color_fondo;
		}
		iframe{
			border: 2px solid $color_fondo;
		}
	}

	.productos{
		background-color: $body_color;
		padding: 70px 0 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		.columna-padding{
			@include cuerpoPadding();
		}
		.tarjeta{
			background-color: $color_fondo;
			border-radius: 6px;
			position: relative;
			margin-top: 40px;
			.tarjeta-foto{
				@include contenedorcito();
				img{
					@include contenedorcito();
					border-radius: 6px;
					position: $pos_abs;
					top: -20px;
					left: 7%;
				}
				img:hover{
					@include contenedorcito();
					border-radius: 6px;
					position: $pos_abs;
					top: -30px;
					left: 7%;
					transition-timing-function: ease;
					transition-delay: 0s;
					transition-property: all; 
					transition-duration: 0.3s;
				}
			}
		}
		.contenido-productos{
			padding: 120% 20% 20%;
			h5{
				@include letraSubSubTitulo();
			}
			p{
				@include letraPSmall();
				margin-bottom: 20px;
			}
			span{
				font-size: 16px;
				color: #3c4858;
			}
		}
	}

	.portafolio{
		padding: 70px 30px 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		@for $i from 1 through 8{
			.cada-portafolio-#{$i}{
				position: relative;
				height: 280px;
				border-radius: 6px;
				background-image: url(../img/img_portafolio_#{$i}.jpg);
				background-size:cover;
				background-position: center;
				margin: 20px 0;
			}
		}
		.cada-portafolio-hover{
			position: $pos_abs;
			top: $zero;
			bottom: $zero;
			left: $zero;
			right: $zero;
			border-radius: 6px;
			background-color: rgba(0,0,0,0.8);
			opacity: $zero;
			padding-top: 100px;
		}
		.cada-portafolio-hover:hover{
			opacity:1;
		}
	}

	.team{
		padding: 0 50px 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		.team-member{
			padding: 20px;
			h4{
				@include letraSubSubTitulo();
			}
			p{
				@include letraPSmall();
				margin: 10px 0;
			}
			h6{
				font-size: 12.6px;
				color: #999;
				font-weight: bold;
			}
			i{
				margin-right: 10px;
			}
		}
		.team-1{
			img{
				@include fotosCuadradas();
			}
		}
	}

	.price{
		background-color: $body_color;
		padding: 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		.tabla-precio{
			background-color: $color_fondo;
			border-radius: 5px;
		}
		.precio-contenido{
			padding: 20px;
			h3{
				font-size: 55px;
				font-weight: bold;
				height: 55px;
				margin-bottom: 0;
				small.dolar{
					position: relative;
					top: -23px;
				}
				small{
				font-size: 16px;
				font-weight: normal;
				}
			}
			td{
				color: $tabla_gris;
			}
			.linea{
				border-bottom: 1px solid $tabla_gris;
			}
		}
	}
	.clients{
		padding: 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		img{
			width: 100px;
			height: 100px;
		}
		.cliente{
			margin-top: 30px;
			h4{
				@include letraSubSubTitulo();
			}
			h6{
				font-size: 12.6px;
				color: #999;
				font-weight: bold;
			}
			p{
				@include letraPSmall();
			}
		}
		
	}
	.subscribe{
		background-image: url(../img/about.jpg);
		background-size:cover;
		padding: 70px;
		h3{
			@include letraTiruloBlanco();
		}
		h5{
			@include letraSubtituloBlanco();
			padding-bottom: 30px;
		}
		.caja-input{
			background-color: $color_fondo;
			border-radius: 5px;
			padding: 10px;
			.btn-subscribe{
				width: 100%;
				margin-top: 15px;
			}
		}
		.break-word{
			word-wrap: break-word;
		}
	}

	.blog{
		padding: 50px;
		h3{
			@include letraTirulo();
		}
		h5{
			@include letraSubtitulo();
		}
		.blog-unit{
			margin-top: 60px;
			h4{
				@include letraSubSubTitulo();
			}
			h6{
				margin-top: 30px;
			}
			img{
				@include fotosCuadradas();
			}
			p{
				@include letraPSmall();
			}
		}
	}

	.contacto{
		h3{
			@include letraTiruloBlanco();
		}
		@include seccionCiudad();
		h5{
			@include letraSubSubTituloBlanco();
			margin-top: 0;
		}
		.tarjeta-contacto{
			@include tablaBlanca();
			margin-top: 30px;
			.titulo-pink{
				border-radius: 5px;
				padding: 12px;
				position: relative;
				top: -50px;
			}
			h4{
				font-size: 20px;
				font-weight: bold;
				font-family: 'Roboto Slab', serif;
			}
			form{
				margin-top: -50px;
			}
			input{
				margin-bottom: 0;
			}
			textarea{
				height: 128px;
				margin-bottom: 0;
			}
			button{
				margin-bottom: 15px;
			}
		}
	}

	footer{
		background-color: $color_footer;
		padding: 30px 18px 18px;
		margin: 0;
		.pie{
			word-wrap: break-word;
			h5{
				@include letraSubSubTituloBlanco();
			}
			p{
				margin-top: 0;
				margin-bottom: 10px;
				@include letraPSmall();
			}
			hr{
				width: 100%;
			}
			.intagram{
				border-radius: 6px;
				max-width: 100%;
				width: 100%;
				height: 100%;
				margin-top: 15px;
			}
			ul li{
				display: inline-block;
				padding: 10px;
				font-size: 12px;
				a{
					color: $color_fondo;
				}
				a:hover{
					color: $hot_pink;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.cuerpo-abs{
		margin-left: 15px;
		margin-right: 0;
		top: 475px;
		width: 91%;
	}
	nav{
		background-color: rgba(0,0,0,0.5);
	}
	.slider{
		ul li{
			h1{
				padding-top: 6%;
			}
		}
	}
}