@mixin contenedorcito(){
	margin: 0 auto;
	width: 85%;
}

@mixin letraSubtitulo(){
	color: $subtitulo_gris;
	font-size: 17px;
	line-height: 27px;
}

@mixin cuerpoPadding(){
	padding: 50px 30px 30px 30px;
}